@import 'mixin'

.main
  &Title
    position: relative
    width: 100%
    &Background
      z-index: 4
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      &:before
        position: absolute
        top: 0
        left: 0
        content: ''
        width: 100%
        height: 100%
        background: linear-gradient(to top, #FFFFFF 0%, rgba(255, 255, 255, 0) 50%, #FCF7CE 100%)
      img
        width: 100%
        height: auto
        max-height: 100%
        object-fit: cover
    &Container
      max-width: calcWidth1920(1600)
      margin: 0 auto
      height: 100%
      position: relative
      z-index: 6
      display: flex
      justify-content: flex-start
      align-items: center
      &Info
        padding: calcWidth1920(45) 0
        max-width: 50%
        display: flex
        flex-direction: column
        align-items: flex-start
        gap: calcWidth1920(50)
        h1
          font-family: Tenor,sans-serif
          color: #5b8b27
          text-shadow: calcWidth1920(5) calcWidth1920(4) calcWidth1920(10) rgb(241, 241, 241)
          font-weight: 700
          font-size: calcWidth1920(100)
          line-height: calcWidth1920(130)
          letter-spacing: calcWidth1920(9)
        &Text
          box-shadow: 0 0 calcWidth1920(20) calcWidth1920(2) rgba(0, 0, 0, 0.7)
          color: white
          background-color: rgb(91, 139, 39)
          border-radius: calcWidth1920(25)
          padding: calcWidth1920(55)
          text-align: left
          display: flex
          flex-direction: column
          gap: calcWidth1920(20)
          font-family: Noto Light,sans-serif
          font-size: calcWidth1920(18)
          line-height: calcWidth1920(30)
        button
          margin-left: calcWidth1920(20)
          cursor: pointer
          align-self: flex-start
          color: #FFFFFF
          font-family: Noto Medium,sans-serif
          border: none
          padding: calcWidth1920(20) calcWidth1920(70)
          border-radius: calcWidth1920(60)
          font-size: calcWidth1920(20)
          background-color: #093719
  &Decor
    max-width: calcWidth1920(1600)
    margin: calcWidth1920(110) auto
    display: flex
    justify-content: flex-start
    &Line
      width: calcWidth1920(700)
      height: calcWidth1920(4)
      background-color: #093719
  &PastEvents
    color: #093719
    font-family: Tenor,sans-serif
    font-size: calcWidth1920(80)
    text-align: center
    background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, rgba(191, 201, 181, 0.203487) 16.98%, rgba(146, 173, 116, 0.565625) 35.73%, rgba(111, 152, 68, 0.838685) 56.56%, rgba(102, 146, 55, 0.910772) 81.56%, #5B8B27 100%)
    &Container
      display: flex
      align-items: center
      gap: calcWidth1920(30)
      max-width: calcWidth1920(1600)
      margin: 0 auto
      width: 100%
      &Btn
        cursor: pointer
        display: flex
        justify-content: center
        align-items: center
        width: calcWidth1920(150)
        height: calcWidth1920(150)
        svg
          max-width: 100%
          width: 100%
          height: auto
      &Swiper
        height: calcWidth1920(600)
        max-width: 100%
        &Slide
          padding: calcWidth1920(30)
          height: 100%
          display: flex
          justify-content: center
          align-items: center
          width: 100%
          img
            width: 100%
            height: auto
            max-height: 100%
  &Gallery
    position: relative
    background: linear-gradient(180deg, #5B8B27 18.02%, rgba(101, 145, 53, 0.923676) 35.73%, rgba(111, 152, 68, 0.838346) 51.87%, rgba(131, 164, 95, 0.684751) 71.15%, rgba(166, 185, 145, 0.406158) 86.25%, rgba(217, 217, 217, 0) 100%)
    &Container
      color: #093719
      padding: calcWidth1920(30) 0
      margin: 0 auto
      max-width: calcWidth1920(1600)
      &Info
        margin-top: calcWidth1920(50)
        display: flex
        justify-content: space-between
        &Item
          padding: calcWidth1920(30) calcWidth1920(35)
          gap: calcWidth1920(30)
          display: flex
          align-items: center
          width: calcWidth1920(750)
          background-color: #ffffff
          border-radius: calcWidth1920(30)
          box-shadow: 0 0 calcWidth1920(14) calcWidth1920(2) rgba(0, 0, 0, 0.44)
          &:nth-child(n+2)
            align-self: flex-end
          p
            width: calcWidth1920(400)
            font-size: calcWidth1920(20)
          &Image
            border-radius: calcWidth1920(30)
            overflow: hidden
            width: calcWidth1920(550)
            display: flex
            justify-content: center
            align-items: center
            img
              width: 100%
              height: auto
              max-height: 100%








