@import 'mixin'

.visitors
  &Title
    position: relative
    width: 100%
    height: 100%
    &Background
      position: absolute
      top: 0
      left: 0
      display: flex
      height: 100%
      width: 100%
      &:before
        position: absolute
        top: 0
        left: 0
        content: ''
        background: linear-gradient(to top, #FFFFFF 0%, rgba(255, 255, 255, 0) 50%, #FCF7CE 100%)
        width: 100%
        height: 100%
      img
        width: 100%
        height: auto
        object-fit: cover
    &Container
      padding: calcWidth1920(100) 0
      width: calcWidth1920(1600)
      margin: 0 auto
      position: relative
      z-index: 10
      &Content
        h1
          text-shadow: calcWidth1920(5) calcWidth1920(4) calcWidth1920(10) rgb(241, 241, 241)
          font-weight: 700
          font-family: Tenor,sans-serif
          font-size: calcWidth1920(100)
          color: #5b8b27
        &Main
          margin-top: calcWidth1920(30)
          justify-items: center
          display: grid
          align-items: center
          grid-template-columns: 1fr 1fr
          &Text
            box-shadow: 0 0 calcWidth1920(21) calcWidth1920(1) rgb(172, 210, 158)
            padding: calcWidth1920(30)
            border-radius: calcWidth1920(30)
            background-color: rgba(255, 255, 255, 0.65)
            display: flex
            flex-direction: column
            gap: calcWidth1920(30)
            font-family: Noto,sans-serif
            color: #093719
            h2
              font-weight: 700
              font-size: calcWidth1920(26)
            p
              font-size: calcWidth1920(20)
            ul
              font-size: calcWidth1920(16)
              font-family: Noto Medium, sans-serif
              li
                list-style: disc
          &Decor
            display: flex
            justify-content: center
            align-items: center
            position: relative
            width: calcWidth1920(300)
            height: calcWidth1920(300)
            background-color: #093719
            &Img
              display: flex
              justify-content: center
              align-items: center
              position: absolute
              top: 0
              left: 0
              width: calcWidth1920(400)
              height: calcWidth1920(300)
              img
                width: 100%
                height: auto
  &Them
    display: flex
    flex-direction: column
    width: calcWidth1920(1600)
    margin: 0 auto
    h2
      font-family: Tenor,sans-serif
      font-size: calcWidth1920(70)
      line-height: calcWidth1920(80)
      max-width: calcWidth1920(900)
      color: #5b8b27
    &List
      padding: calcWidth1920(60) 0
      display: grid
      grid-template-columns: repeat(3, 1fr)
      gap: calcWidth1920(20)
      &Item
        padding: calcWidth1920(20)
        background-color: #5b8b27
        border-radius: calcWidth1920(70)
        display: flex
        align-items: center
        justify-content: flex-start
        gap: calcWidth1920(20)
        span
          color: #FFFFFF
          text-align: left
          font-family: Noto, sans-serif
          font-size: calcWidth1920(20)
        &Img
          width: calcWidth1920(60)
          height: calcWidth1920(60)
          display: flex
          justify-content: center
          align-items: center
          img
            width: 100%
            height: auto
    &Btn
      border-radius: calcWidth1920(40)
      font-family: Roboto,sans-serif
      align-self: center
      max-width: 100%
      font-size: calcWidth1920(26)
      padding: calcWidth1920(20) calcWidth1920(40)
      color: #5b8b27
      border: 1px solid #5b8b27
      background-color: #FFFFFF
      box-shadow: 0 0 calcWidth1920(16) calcWidth1920(2) rgba(87, 161, 24, 0.82)





